@{
    ViewBag.Title = "About Wardrobe!";
}
<div class="text-center"><h1>@ViewBag.Title</h1></div>

@*<h3>@ViewBag.Message</h3>*@

<br />
<div class="row">
    <div class="col-md-5 text-center">
        <img src="~/Content/Images/clothes_on_rack_vertical_pink.jpg" width="200px" padding-top />
    </div>
    <div class="col-md-7 text-left" >
        <h3> Who we Are</h3>
        <p>
            WarDrobe is a 501c3 non-profit organization that seeks to strengthen the community by providing job
            opportunities, job training and by selling used goods at affforable prices.
        </p>
        <h3> Our Mission</h3>
        <p>
            Our mission is to create and maintain programs that have a longterm positive impact on the wellbeing of our
            community members.
            We beleive that by creating employment opportunities, increasing access to quality goods, reducing landfill waste
            and providing employment seeking assistance and training we can help eliminate barriers to opportunity.
        </p>
    </div>
</div>

<br />

<div class="row">

    <div class="col-md-6 text-left" >
        <h3>What we do</h3>
        <p>
            We accept donations of gently used clothing and household items in order to provide quality goods prices and to positively impact the environment. By donating your clothing or household goods rather than throw them away, useful goods are kept out
            of landfills allowing you and others to live a more sustainible lifestyle. Our thrift stores provide
            employment opportunities in the local community to vulnerable populations.
        </p>
        <p>
            Financial contributions help fund outreach efforts and our job training programs. Our job training programs
            provide resume and interview advice as well as career and education counseling to low income or homeless populations.
            Through cothing and financial donations we are able to provide appropriate interview clothing for those who could otherwise
            not afford it. By helping people find gainful employment we reduce need and homelessness in our community.
        </p>
    </div>
    <div class="col-md-6 text-center">
        <img src="~/Content/Images/girl_looking_left_shopping_vertical_.jpg" width="200"  padding-top />
    </div>
</div>

@*https://www.w3schools.com/bootstrap/bootstrap_grid_examples.asp*@