@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="position:relative;">
    <img class="homeImage" src="~/Content/Images/Home.jpg" alt='HomeImage' />
    <h1 id="SiteName">War Drobe</h1>
</div>
<div class="spacer"></div>
<div class="container">
    <div class="row vertical-align">
        <div class="col-md-6">
            <img src="~/Content/Images/clothing1.jpg" height="auto" width="90%;" />
        </div>
        <div class="col-md-6 text-center">
            <p class="homeText">Fashionable clothes<br />from the furthest reaches<br /> of the kingdom</p>
        </div>
    </div>
</div>
<br />
<div class="main-spacing">
    <div>
        <div class="row vertical-align">
            <div class="col-md-6 text-center">
                <p class="homeText">Apparrel fit for<br />Kings, Queens, and Creatures<br />of all kinds</p>
            </div>
            <div class="col-md-6 text-right">
                <img src="~/Content/Images/clothing2.jpg" height="auto" width="90%;" />
            </div>
        </div>
    </div>
    <br />
    <div>
        <div class="row vertical-align">
            <div class="col-md-6">
                <img src="~/Content/Images/clothing2.jpg" height="auto" width="90%;" />
            </div>
            <div class="col-md-6 text-center">
                <p class="homeText">Dedicated to those<br />who need help the most,<br /> big or small</p>
            </div>
        </div>
    </div>

</div>


